In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('aggr').getOrCreate()

In [3]:
df = spark.read.csv('Spark_Udemy/Spark_DataFrames/sales_info.csv', inferSchema = True, header = True)

In [16]:
df.show()
df.groupBy("Company").sum("Sales").show()
df.groupBy("Company").mean().show()
df.agg({"Sales": "mean"}).show()

+-------+-------+-----+
|Company| Person|Sales|
+-------+-------+-----+
|   GOOG|    Sam|200.0|
|   GOOG|Charlie|120.0|
|   GOOG|  Frank|340.0|
|   MSFT|   Tina|600.0|
|   MSFT|    Amy|124.0|
|   MSFT|Vanessa|243.0|
|     FB|   Carl|870.0|
|     FB|  Sarah|350.0|
|   APPL|   John|250.0|
|   APPL|  Linda|130.0|
|   APPL|   Mike|750.0|
|   APPL|  Chris|350.0|
+-------+-------+-----+

+-------+----------+
|Company|sum(Sales)|
+-------+----------+
|   APPL|    1480.0|
|   GOOG|     660.0|
|     FB|    1220.0|
|   MSFT|     967.0|
+-------+----------+

+-------+-----------------+
|Company|       avg(Sales)|
+-------+-----------------+
|   APPL|            370.0|
|   GOOG|            220.0|
|     FB|            610.0|
|   MSFT|322.3333333333333|
+-------+-----------------+

+-----------------+
|       avg(Sales)|
+-----------------+
|360.5833333333333|
+-----------------+

In [21]:
from pyspark.sql.functions import countDistinct,avg,stddev

In [22]:
df.agg({"Sales": "mean"}).show()

+-----------------+
|       avg(Sales)|
+-----------------+
|360.5833333333333|
+-----------------+

In [23]:
df.select(avg("Sales").alias("AVG Sales")).show()

+-----------------+
|        AVG Sales|
+-----------------+
|360.5833333333333|
+-----------------+

In [24]:
from pyspark.sql.functions import format_number

In [33]:
df.select(stddev("Sales")).select(format_number("stddev_samp(Sales)", 2).alias("STD Sales")).show()

+---------+
|STD Sales|
+---------+
|   250.09|
+---------+

In [4]:
df.orderBy(df["Sales"].desc()).show()

+-------+-------+-----+
|Company| Person|Sales|
+-------+-------+-----+
|     FB|   Carl|870.0|
|   APPL|   Mike|750.0|
|   MSFT|   Tina|600.0|
|     FB|  Sarah|350.0|
|   APPL|  Chris|350.0|
|   GOOG|  Frank|340.0|
|   APPL|   John|250.0|
|   MSFT|Vanessa|243.0|
|   GOOG|    Sam|200.0|
|   APPL|  Linda|130.0|
|   MSFT|    Amy|124.0|
|   GOOG|Charlie|120.0|
+-------+-------+-----+

In [5]:
df = spark.read.csv('Spark_Udemy/Spark_DataFrames/ContainsNull.csv', inferSchema=True, header=True)

In [6]:
df.show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| null|
|emp2| null| null|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [27]:
from pyspark.sql.functions import mean
df.na.drop().show()
df.na.drop(how='all').show()
df.na.drop(subset=['Sales']).show()
mean_sales = df.select(mean(df["Sales"])).collect()[0][0]
df.na.fill(mean_sales, ["Sales"]).show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp4|Cindy|456.0|
+----+-----+-----+

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| null|
|emp2| null| null|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John|400.5|
|emp2| null|400.5|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+