In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('df_basics2').getOrCreate()

In [2]:
df = spark.read.json('Spark_Udemy/Spark_DataFrames/people.json')

In [16]:
df.show()
df['age']
df.select("age").show()
df.head()
df.withColumn('newage', df['age'] * 2 / 100).show()
df.withColumnRenamed('age', 'MyNewAge').show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

+----+-------+------+
| age|   name|newage|
+----+-------+------+
|null|Michael|  null|
|  30|   Andy|   0.6|
|  19| Justin|  0.38|
+----+-------+------+

+--------+-------+
|MyNewAge|   name|
+--------+-------+
|    null|Michael|
|      30|   Andy|
|      19| Justin|
+--------+-------+

In [25]:
df.createOrReplaceTempView('people')

In [28]:
spark.sql('SELECT name FROM people WHERE age > 20').show()

+----+
|name|
+----+
|Andy|
+----+

In [30]:
df2 = spark.read.csv('Spark_Udemy/Spark_DataFrames/appl_stock.csv', inferSchema = True, header = True)

In [52]:
df2.printSchema()
# df2.filter("Close > 500").select('Date', 'High').show()
# df2.filter((df2['Close'] > 500) & (df2['Close'] < 503)).select('Date', 'High').show()
result = df2.filter(df2['Low'] == 197.16).select('Date','High').collect()

root
 |-- Date: timestamp (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: integer (nullable = true)
 |-- Adj Close: double (nullable = true)

In [57]:
result[0]

Row(Date=datetime.datetime(2010, 1, 22, 0, 0), High=207.499996)