In [1]:
import org.apache.spark._
import org.apache.spark.sql._

import org.apache.spark._
import org.apache.spark.sql._

In [3]:
val df = spark.read.json("Spark_Udemy/Spark_DataFrames/people.json")

df: org.apache.spark.sql.DataFrame = [age: bigint, name: string]

In [14]:
df.show()
df("name")
df.select("name").show()
df.withColumn("newage", df("age") * 3).show()
df.withColumnRenamed("age", "MyNewAge").show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

+-------+
|   name|
+-------+
|Michael|
|   Andy|
| Justin|
+-------+

+----+-------+------+
| age|   name|newage|
+----+-------+------+
|null|Michael|  null|
|  30|   Andy|    90|
|  19| Justin|    57|
+----+-------+------+

+--------+-------+
|MyNewAge|   name|
+--------+-------+
|    null|Michael|
|      30|   Andy|
|      19| Justin|
+--------+-------+

In [17]:
df.createOrReplaceTempView("people")

In [19]:
spark.sql("SELECT name FROM people WHERE age > 20").show()

+----+
|name|
+----+
|Andy|
+----+

In [23]:
val df2 = spark.read.option("inferSchema", true).option("header", true).csv("Spark_Udemy/Spark_DataFrames/appl_stock.csv")

df2: org.apache.spark.sql.DataFrame = [Date: timestamp, Open: double ... 5 more fields]

In [66]:
df2.printSchema()
// df2.filter("Close > 500").select("Date","High").show()
// df2.filter((df2("Close") > 500) && (df2("Close") < 503)).select("Date", "High").show()
val result = df2.filter(df2("Low") === 197.16).select("Date","High").collect()
result

root
 |-- Date: timestamp (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: integer (nullable = true)
 |-- Adj Close: double (nullable = true)

result: Array[org.apache.spark.sql.Row] = Array([2010-01-22 00:00:00.0,207.499996])
res42: Array[org.apache.spark.sql.Row] = Array([2010-01-22 00:00:00.0,207.499996])