In [1]:
import org.apache.spark._
import org.apache.spark.sql._

Intitializing Scala interpreter ...

Spark Web UI available at http://192.168.0.142:4040
SparkContext available as 'sc' (version = 2.4.0, master = local[*], app id = local-1558367348060)
SparkSession available as 'spark'

import org.apache.spark._
import org.apache.spark.sql._

In [2]:
val df = spark.read
            .option("inferSchema", true)
            .option("header", true)
            .csv("Spark_Udemy/Spark_DataFrames/sales_info.csv")

df: org.apache.spark.sql.DataFrame = [Company: string, Person: string ... 1 more field]

In [3]:
df.show()
df.groupBy("Company").sum("Sales").alias("Sales").show()
df.groupBy("Company").mean().show()

+-------+-------+-----+
|Company| Person|Sales|
+-------+-------+-----+
|   GOOG|    Sam|200.0|
|   GOOG|Charlie|120.0|
|   GOOG|  Frank|340.0|
|   MSFT|   Tina|600.0|
|   MSFT|    Amy|124.0|
|   MSFT|Vanessa|243.0|
|     FB|   Carl|870.0|
|     FB|  Sarah|350.0|
|   APPL|   John|250.0|
|   APPL|  Linda|130.0|
|   APPL|   Mike|750.0|
|   APPL|  Chris|350.0|
+-------+-------+-----+

+-------+----------+
|Company|sum(Sales)|
+-------+----------+
|   APPL|    1480.0|
|   GOOG|     660.0|
|     FB|    1220.0|
|   MSFT|     967.0|
+-------+----------+

+-------+-----------------+
|Company|       avg(Sales)|
+-------+-----------------+
|   APPL|            370.0|
|   GOOG|            220.0|
|     FB|            610.0|
|   MSFT|322.3333333333333|
+-------+-----------------+

In [10]:
import org.apache.spark.sql.functions.{countDistinct, avg, stddev}

import org.apache.spark.sql.functions.{countDistinct, avg, stddev}

In [11]:
df.agg({"Sales" -> "mean"}).show()

+-----------------+
|       avg(Sales)|
+-----------------+
|360.5833333333333|
+-----------------+

In [12]:
df.select(avg("Sales").alias(" AVG Sales")).show()

+-----------------+
|        AVG Sales|
+-----------------+
|360.5833333333333|
+-----------------+

In [4]:
df.orderBy(col("Sales").desc).show()

+-------+-------+-----+
|Company| Person|Sales|
+-------+-------+-----+
|     FB|   Carl|870.0|
|   APPL|   Mike|750.0|
|   MSFT|   Tina|600.0|
|     FB|  Sarah|350.0|
|   APPL|  Chris|350.0|
|   GOOG|  Frank|340.0|
|   APPL|   John|250.0|
|   MSFT|Vanessa|243.0|
|   GOOG|    Sam|200.0|
|   APPL|  Linda|130.0|
|   MSFT|    Amy|124.0|
|   GOOG|Charlie|120.0|
+-------+-------+-----+

In [5]:
val df = spark.read.option("inferSchema", true).option("header", true).csv("Spark_Udemy/Spark_DataFrames/ContainsNull.csv")

df: org.apache.spark.sql.DataFrame = [Id: string, Name: string ... 1 more field]

In [6]:
df.show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| null|
|emp2| null| null|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [22]:
import org.apache.spark.sql.functions.mean
df.na.drop().show()
df.na.drop(how="all").show()
df.na.drop(cols=List("Sales")).show()
val mean_sale = df.select(mean(df("Sales")).alias("Mean"))
mean_sale.show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp4|Cindy|456.0|
+----+-----+-----+

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| null|
|emp2| null| null|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

+-----+
| Mean|
+-----+
|400.5|
+-----+

import org.apache.spark.sql.functions.mean
mean_sale: org.apache.spark.sql.DataFrame = [Mean: double]